<div ng-controller="FeaturesCtrl">

    <h3 class="page-header">Controller</h3>

    <input bootstrap-button type="button" value="get joke" ng-click="getJoke()"/>

    <p>&nbsp;</p>

    <div class="sectionContent" ng-if="data.id">{{data.id}} : {{data.joke}}</div>


    <h3 class="page-header">Filter</h3>

    <div class="sectionContent">{{0.35 | percentage}}%</div>


    <h3 class="page-header">Sprite</h3>

    <input bootstrap-button type="button" value="{{getAnimateButtonText()}}" ng-click="performAnimationFunction()"/>

    <p>&nbsp;</p>

    <div class="sectionContent sprite frame box" style="background-position:{{frame.getXPos()}}px {{frame.getYPos()}}px"></div>



    <p>&nbsp;</p>

    <ul class="sectionContent">
        <li>x: {{frame.x}}</li>
        <li>y: {{frame.y}}</li>
        <li>xPos: {{frame.getXPos()}}</li>
        <li>yPos: {{frame.getYPos()}}</li>
    </ul>


</div>