<div ng-controller="FeaturesCtrl">

    <h3 class="page-header">Controller</h3>

    <input bootstrap-button type="button" value="get joke" ng-click="getJoke()"/>

    <p>&nbsp;</p>

    <div class="sectionContent" ng-if="data.id">{{data.id}} : {{data.joke}}</div>


    <h3 class="page-header">Filter</h3>

    <div class="sectionContent">{{0.35 | percentage}}%</div>


    <h3 class="page-header">Sprite</h3>

    <form class="form-inline">
        <input bootstrap-button type="button" value="{{animation.getAnimationButtonText()}}" ng-click="animation.performAnimation()" style="width:75px"/>
        <input class="form-control" style="width:65px;height:30px;background-color:yellow" type="text" ng-model="animation.animationSpeed" placeholder="speed" ng-change="animation.restartAnimation()" style="float:left;margin-right:5px"/>
    </form>

    <p>&nbsp;</p>

    <div class="sectionContent sprite frame box" style="background-position:{{animation.frame.getXPos()}}px {{animation.frame.getYPos()}}px"></div>



    <p>&nbsp;</p>

    <ul class="sectionContent">
        <li>x: {{animation.frame.x}}</li>
        <li>y: {{animation.frame.y}}</li>
        <li>xPos: {{animation.frame.getXPos()}}</li>
        <li>yPos: {{animation.frame.getYPos()}}</li>
    </ul>


</div>

<div style="margin-bottom:100px"></div>